<strong> Olá, {{ student }}</strong>
<p>Obrigado por efetuar sua matrícula. Seguem abaixo os detalhes para conferência:</p>
<p>
  <strong>Aluno: </strong> {{student }} <br/>
  <strong>Plano: </strong> {{plan }} <br/>
  <strong>Valor Total: </strong> R$ {{price }} <br/>

  <strong>Início: </strong> {{start_date}} <br/>
  <strong>Fim: </strong> {{end_date}} <br/>
  <br />
  <small>
    Qualquer dúvida, favor entrar em contato conosco.
  </small>
</p>
