<strong> Olá, {{ student }}</strong>
<p>Obrigado por efetuar sua matrícula. Seguem abaixo os detalhes para conferência:</p>
<p>
  <strong>Aluno: </strong> {{student }} <br/>
  <strong>Plano: </strong> {{student }} <br/>
  <strong>Valor: </strong> {{price }} <br/>
  <strong>Período: </strong> {{student }} <br/>

  <strong>Início: </strong> {{date}} <br/>
  <strong>Fim: </strong> {{date}} <br/>
  <br />
  <small>
    Qualquer dúvida, favor entrar em contato conosco.
  </small>
</p>
